[init]
	defaultBranch = main

[core]
	pager = delta
	editor = nvim

[diff]
	tool = diffbandit

[difftool]
	prompt = false

[difftool "diffbandit"]
	cmd = LOCAL=\"$LOCAL\" REMOTE=\"$REMOTE\" nvim --cmd 'packadd diffbandit.nvim' -c 'lua require(\"diffbandit\").files(vim.env.LOCAL, vim.env.REMOTE)'

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	side-by-side = true
	line-numbers = true

[merge]
	conflictStyle = zdiff3

[pull]
	ff = only

[push]
	autoSetupRemote = true

[alias]
	br = branch
	co = checkout
	st = status --short --branch
	lg = log --graph --decorate --oneline --all
