bundle/
spell/
elpa/
auto-save-list/
autoload/
plugged/
.netrwhist
.DS_Store
/_emacs.d/omnisharp-emacs/
/_emacs.d/projectile-bookmarks.eld
/_emacs.d/projectile.cache
/_emacs.d/recentf
/_emacs.d/eshell
